[package]
name = "riker"
version = "0.4.2"
authors = ["Lee Smith <lee@riker.rs>"]
edition = "2018"
description = "Easily build fast, highly concurrent and resilient applications. An Actor Framework for Rust."
homepage = "https://riker.rs"
repository = "https://github.com/riker-rs/riker"
license = "MIT"
readme = "README.md"
keywords = ["actors", "actor-model", "async", "cqrs", "event_sourcing"]

[badges]
travis-ci = { repository = "riker-rs/riker" }

[features]
tokio_executor = ["tokio", "riker-testkit/tokio_executor"]

[dependencies]
riker-macros = { path = "riker-macros", version = "0.2.0" }
chrono = "0.4"
config = "0.10.1"
futures = { version = "0.3.4", features = ["thread-pool"] }
rand = "0.7"
regex = "1"
uuid = { version = "0.8.1", features = ["v4"] }
pin-utils = "0.1.0"
slog = "2.5"
slog-stdlog = "4.0"
slog-scope = "4.3.0"
num_cpus = "1.13.0"
dashmap = "3"
tokio = { version = "^1", features = ["rt-multi-thread", "macros"], optional = true }


[dev-dependencies]
log = "0.4"

[dependencies.riker-testkit]
git = "https://github.com/mankinskin/riker-testkit"
branch = "tokio_executor"
